<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Garth Webb 5409 Robotics: Official Website</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>

        <link rel="icon" type="image/jpg" href="images/logo.png"/>

        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
        <!--Replace with your tailwind.css once created-->
        <link href="https://unpkg.com/@tailwindcss/custom-forms/dist/custom-forms.min.css" rel="stylesheet"/>

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=League+Spartan:wght@200;300&display=swap');
            html {
                font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            }
        </style>
    </head>

    <body class="leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed" style="background-image: url('./images/header.jpg');">
        <div class="h-full">
            <!--Nav-->
            <div class="mx-auto w-full md:w-4/5 w-full container mx-auto">
                <div class="w-full flex items-center justify-between">
                        <h1 class="my-4 text-3xl md:text-7xl font-bold text-white tracking-tighter opacity-60 leading-tight text-center md:text-left">Welcome to</h1>
                </div>
                <h1 class="my-4 text-3xl md:text-7xl font-bold text-white tracking-tighter opacity-100  leading-tight text-center pb-2 md:text-left">Garth Webb 5409 Robotics.</h1>
                <h1 class="my-4 text-3xl md:text-2xl text-blue-300 opacity-80 text-center md:text-left">"Garth Webb Secondary School’s Robotics team Chargers have showcased their new robot “Dunkirik” at this year’s First Robotics Competition! They performed extraordinarily well, placing second in the York University match."</h1>
                <p class="text-1xl text-white opacity-60 text-center md:text-left">— FRC Official Newsroom</p>
            </div>

            <!--Main-->
            <div class="mx-auto w-full md:w-4/5 container pt-24 md:pt-10 mx-auto flex flex-wrap flex-col md:flex-row items-center">
                <!--Left Col-->
                <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
                    <ul class="flex border-b">
                        <li class="-mb-px mr-1">
                            <a class="bg-transparent inline-block border-l border-t border-r rounded-t py-2 px-4 text-white hover:text-blue-300 font-thin" href="#">Home</a>
                        </li>
                        <li class="mr-1">
                            <a class="bg-transparent inline-block py-2 px-4 text-white hover:text-blue-300 font-thin" href="#">Achievements</a>
                        </li>
                        <li class="mr-1">
                            <a class="bg-transparent inline-block py-2 px-4 text-white hover:text-blue-300 font-thin" href="#">Newsroom</a>
                        </li>
                    </ul>
                    <h1 class="my-4 pt-8 text-3xl md:text-3xl text-white opacity-100 text-center md:text-left">
                        <span class="text-5xl font-bold leading-normal tracking-tighter">We change youth's life.</span>
                        <br><br>
                        <span class="opacity-80 text-blue-300 ">In the </span>David and Goliath <span class="opacity-80 text-blue-300 ">analogy, we proudly declare ourselves as the </span>David<span class="opacity-80 text-blue-300"> in the </span>First Robotics Canada league.
                </h1>
                    <br>

                    <form class="bg-gray-900 opacity-100 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4 ">
                        <div class="mb-4 ">
                            <label class="block text-xl text-white py-2 mb-2 " for="emailaddress ">
                            Check out competition <span class="text-blue-300">roster and statistics</span>.
              </label>
                        </div>
                        <div class="gap-3 flex items-center justify-left">
                            
                            <a href="https://www.thebluealliance.com/team/5409" class="bg-transparent hover:bg-blue-500 text-white hover:text-white py-2 px-4 border border-white hover:border-transparent rounded" type="button ">
                                The Blue Alliance
                            </a>
                            </a>
                            <a href="https://frc-events.firstinspires.org/team/5409" class="bg-white hover:bg-blue-500 text-black font-semibold tracking-tighter hover:text-white py-2 px-4 border border-white hover:border-blue-500 rounded" type="button ">
                                First Inspires
                            </a>
                            </a>
                        </div>
                    </form>
                </div>

                <!--Footer-->
                <div class="w-full pt-16 pb-6 text-sm text-center md:text-left fade-in ">
                    <a class="text-gray-500 no-underline hover:no-underline " href="# ">&copy; Served under the</a>
                    <a class="text-gray-400 no-underline hover:no-underline ">Simplified BSD License</a>
                    <a class="text-gray-500 no-underline hover:no-underline "> - Developed and Designed by</a>
                    <a class="text-gray-400 no-underline hover:no-underline " href="https://johnseong.info">John Seong</a>.
            </div>
            </div>
        </div>
    </body>

</html>